body {
  color: var(--primary-color);
  font-size: var(--font-size);
  font-weight: 400;
  font-family: "Rubik", "Manrope", sans-serif;
}

.layout {
  &__glass {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.3px);
    -webkit-backdrop-filter: blur(6.3px);
    border-top: 1px solid rgba(255, 255, 255, 0.24);
    border-bottom: 1px solid rgba(255, 255, 255, 0.24);
  }
}

.glass {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.25);
}

// HR gradient line
.hr1 {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.75),
    rgba(0, 0, 0, 0)
  );
}

.hr2-section {
  @apply relative;

  &:after {
    content: "";
    border: 0;
    height: 80%;
    background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0.75),
      rgba(0, 0, 0, 0)
    );
    display: block;
    width: 1px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}

/* Headings */
.article-data {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply pt-4 font-bold text-lime-400;
}

h1 {
  @apply text-3xl;
}

h2 {
  @apply text-2xl;
}
h3 {
  @apply text-xl;
}
h4 {
  @apply text-lg;
}
