@import "../fonts/Rubik/stylesheet.css";
@import url("./tailwind.scss");
@import url("./global.scss");

:root {
  --font-size: 16px;
  --primary-color: #fff;
  --secondary-color: #a3e635;
  --card-bg: #1d2837;
}

@media screen and (max-width: 1024px) {
  :root {
    --font-size: 14px;
  }
}

@media screen and (max-width: 500px) {
  :root {
    --font-size: 13px;
  }
}
